body {
	background: #FFFFFF;
}

h1 {
  float: left;
}

header{
    background: #FFE999;
    width: 100%;
    height: auto;
    padding: 
    margin: ;
}

nav {
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  background-color: #FFE999;
  color: black;
  text-decoration: none;
  display: inline-block;
  float: right;
  padding: 17px;
}

a:hover {
  background-color: #FFFFFF ;
}

#main{
 background-color: #FFFFFF;
 padding: 11%;
 margin: 25px;
}

.image-gallerygroup {
  display: inline-block;
  float: right;
  padding: 17px;
}

figure { 
  width: 200px;  
  margin: 0 40px 0 0;
  float: left; 
  background-color: #FFFFFF;
  border: 10px solid white; 
  -webkit-box-shadow: 0 3px 10px #ccc; 
  -moz-box-shadow: 0 3px 10px #ccc;
  -webkit-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);
  -webkit-transition: all 0.7s ease; 
  -moz-transition: all 1s ease;
}

figcaption { 
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  text-align: center; 
  display: block; 
  font-size: 15px; 
}

figure img { 
  width: 100%;
}

figure:hover {
    -webkit-transform: rotate(-1deg); -moz-transform: rotate(1deg);
    -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
}

figure:focus {
    outline: none;
    -webkit-transform: rotate(-3deg) scale(2.5); -moz-transform: rotate(-3deg) scale(2.5);
    -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;*/
    z-index: 9999;
}

#about {
  background-color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  font-size: 17px;
  font-height: 22px;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 10%;
  line-height: 30px;
}

main{
  width: 50%;
  margin: 0 auto;

}

#contact { ---move to main
  background-color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
  font-height: 22px;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 30px;
}

#footer {
  background: #FFE999;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: 'Oxygen', sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 15px;
  font-height:10px;
  padding: 2%;
  bottom: 0;
  position: fixed;
  width: 100%;

}


