
body {
  background: url("Assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Helvetica;
  font-size: 20px;
  color: #FFFFFF;
  height: 5%;
  width: auto;
  padding: 10%;
  margin-left: auto;
  font-weight: lighter;
  line-height: 3;
}


hr { 
  margin-left: 98%;
  margin-right: 98%;
  width: 4%;
  height: 15%;
  border-color: #FF3333;
  margin-left: auto;
}


div {
background: url("Assets/stripes.png");
background-repeat: repeat-x;
height: 13px;
}


